<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div><span>이름 <%= info.name %></span></div>
    <div><span>성별 <%= info.gender %></span></div>
    <div><span>취미 <%= info.hobby %></span></div>
    <div>
      <span style="background-color: <%= info.color%>"
        >색상 <%= info.color %></span
      >
    </div>
    <div><span>숫자 <%= info.number %></span></div>
  </body>
</html>
